* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 13px;
  background: none;
  border: none;
}

window#waybar {
  background: transparent;
  border: none;
  color: #000;
  padding: 4px 10px;
}


#workspaces button {
  background: #fff;
  border-radius: 6px;
  color: #000;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: #fff;
  border: solid;
  font-weight: bold;
  border-color: #fff;
  background-color: #000;
  border-width: 1px;
}

#custom-cpu, #custom-gpu, #clock, #battery, #custom-bluetooth, #custom-audio, #network {
  background-color: #fff;
  padding: 4px 10px;
  margin: 0 6px;
  border-radius: 6px;
  font-weight: bold;
}

#custom-arrow {
  color: #000;
  margin: 0 5px;
}

.modules-right, .modules-left,.modules-center {
    background-color: #fff;
    border-radius: 12px;
}


