[submodule "/home/edudaluna/.config/nvim"]
	path = /home/edudaluna/.config/nvim
	url = git@github.com:Luna-v0/nvim-settings.git
[submodule "stow/stow/nvim/.config/nvim"]
	path = stow/stow/nvim/.config/nvim
	url = git@github.com:Luna-v0/nvim-settings.git
