@define-color background #060a13;
@define-color foreground #b8d4e3;
@define-color accent #33ff88;
@define-color accent-bright #33ff88;
@define-color navy-light #1a2538;
@define-color navy-medium #0f1520;
@define-color muted #7a9ba8;
