window {
  background-color: #000000;
  color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
}

#input {
  margin-bottom: 15px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #111111;
  color: #ffffff;
}

#entry {
  padding: 10px;
  margin: 5px 0;
  border-radius: 8px;
  background-color: #111111;
  color: #dddddd;
  min-height: 32px;
}

#entry:selected {
  background-color: #ffffff;
  color: red;
  font-weight: bold;
}

