@import "../omarchy/current/theme/waybar.css";

* {
  font-family: "CaskaydiaMono Nerd Font", sans-serif;
  font-size: 13px;
  background: transparent;
  border: none;
  padding: 1px;
}

window#waybar {
  background: @accent;
  border: none;
  color: @background;
  border-radius: 12px;
  padding: 2px 2px;
}



.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
  color: @background;
}

.modules-center {
  font-weight: bold;
}


#workspaces button {
  all: initial;
  background: transparent;
  border-radius: 6px;
  color: @background;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
  font-family: "CaskaydiaMono Nerd Font", sans-serif;
  font-size: 13px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  all: initial;
  background: @background;
  box-shadow: 0 0 0 1px @accent inset;
  border-radius: 6px;
  padding: 0 6px;
  min-width: 9px;
  font-family: "CaskaydiaMono Nerd Font", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: @accent;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active label,
#workspaces button.active * {
  color: @accent;
}

#workspaces button.empty {
  opacity: 0.5;
}

#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  background: @accent;
  color: @background;
  padding: 8px;
  border-radius: 8px;
}

tooltip label {
  color: @background;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#custom-date-time {
  box-shadow: 0 0 0 1px @accent inset;
  padding: 0 6px;
  background: @background;
  font-family: "CaskaydiaMono Nerd Font", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: @accent;
  transition: all 0.3s ease-in-out;
  border-radius: 6px;
}

#custom-cpu-temp,
#custom-gpu-temp {
 color: @background;
}
