* {
  font-family: "JetBrainsMono Nerd Font", sans-serif;
  font-size: 13px;
  background: none;
  border: none;
}

window {
  background-color: #000000;
  color: #f5f5f5;
  border-bottom: 10px solid #000000;
  padding: 4px 10px;
}

#workspaces button {
  padding: 0 10px;
  margin: 0 4px;
  background: #000;
  border-radius: 6px;
  color: #bbb;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  background: #ffffff;
  color: #000000;
  font-weight: bold;
}

#clock, #pulseaudio, #network, #battery {
  background-color: #000;
  padding: 4px 10px;
  margin: 0 6px;
  border-radius: 6px;
}

#custom-arrow {
  color: #f5f5f5;
  margin: 0 5px;
}

